<section class="card col-sm-9">
  <header class="card-header">
    <h3 class="text-center text-light">About CardHub...</h3>
  </header>
  <div class="card-body row justify-content-around">
    <article class="bg-dark col-12 col-md-5 text-light mt-3 m-md-2">
      <p>Created Using:</p>
      <ul>
        <li>
          <span>Angular 5</span>
        </li>
        <li>
          <span>Bootstrap</span>
        </li>
        <li>
          <span>Visual Studio Code</span>
        </li>
        <li>
          <span>GitHub Pages</span>
        </li>
      </ul>
    </article>

    <article class="bg-dark col-12 col-md-5 text-light p-2 mt-3 m-md-2">
      <p>Created By</p>
        <ul>
          <li>
            <span>Name: Dante Lundgren</span>
          </li>
          <li>
            <span>City: Stockholm</span>
          </li>
          <li>
            <span>School: Nackademin</span>
          </li>
        </ul>
    </article>

    <article class="bg-dark col-12 col-md-11 text-light p-2 mt-3 m-md-2 text-center pt-4">
      <p>Released: 21 march 2018</p>
      <p>Latest Update: 22 march 2018</p>
    </article>
  </div>
  <footer class="card-footer">

  </footer>
</section>