<div class="row justify-content-center mb-5">
  <div class="card col-8 p-3 bg-secondary mb-5" *ngIf="showUsernameInput">
    <form class="form-group pt-1 row justify-content-center text-center">
      <h4 class="col-12">Username:</h4>
      <input class="col-9 mt-2 form-control" type="text" [(ngModel)]="userName" name="username-input-field" id="username-input-field">
      <input class="col-4 mt-4 btn-dark btn-lg" type="button" value="Enter" (click)="setUserName()">
    </form>
  </div>

  <div *ngIf="showNewOrJoin" class="card p-3 col-8 bg-secondary">
    <form class="form-group row justify-content-around mt-3">
      <input type="button" class="btn-dark btn-lg col-5" value="New Deck" (click)="selectNew()">
      <input type="button" class="btn-dark btn-lg col-5" value="Join Deck" (click)="selectJoin()">
    </form>
  </div>

  <div class="card m-3 col-8" *ngIf="showJoin">
    <form class="form-group">
      <input class="form-control" type="text" placeholder="deck-id" [(ngModel)]="deckID" name="deckIdField">
      <input class="btn-dark btn-large" type="button" value="Go" (click)="joinDeck()">
    </form>
  </div>

  <div class="card m-3 col-10 bg-secondary" *ngIf="showCards">
    <ul *ngFor="let playerName of allUsernames ; index as playerNumber;">
      <li>{{playerNumber + 1}}: {{playerName}}</li>
    </ul>
    <form class="form-group row">
      <small class="col-4">Cards Remaining: {{cardsRemaining}}</small>
      <input class="btn-dark btn-large col-4" type="button" value="Shuffle Deck" (click)="shuffleDeck()">
      <input type="text" placeholder="Number of Cards..." [(ngModel)]="requestedAmountOfCards" name="textLine" id="amout-field">
      <input type="button" class="btn-dark" value="Draw {{requestedAmountOfCards != '' ? requestedAmountOfCards + ' ' : ''}}cards" (click)="drawCards()">
    </form>

    <ul class="list-inline">
      <li *ngFor="let card of myPile; index as cardIndex" class="list-inline-item">
        <img class="playing-card" [src]="card.revealed ? card.image : backOfCardImage" (click)="handleCardClick(cardIndex)">
      </li>
    </ul>

    <p class="text-light">Deck-ID: {{deckID}}</p>
  </div>
</div>
