<header class="bg-dark text-center pt-5 pb-3 text-primary">
  <h1>CardHub</h1>
  <p>Online Card Dealer</p>
</header>

<nav class="navbar bg-secondary">
  <div>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="dealer">Dealer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="about">About</a>
      </li>
    </ul>
  </div>
</nav>

<div id="main-section" class="bg-dark p-5">
  <router-outlet></router-outlet>
</div>

<footer id="main-footer" class="bg-info">
  <p>Hej</p>
</footer>
